@import url("https://fonts.googleapis.com/css?family=Chivo:900");

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div {
  display: flex;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0
}

html {
  font-size: 62.5%;
}

time {
  font-size: 4rem;
  color: #957d7f;
}

header time {
  color: #957d7f;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
}

hr {
  width: 141px;
  height: 0;
  border: none;
  border-top: solid 3px #979797;
  margin-top: 20px;
  margin-bottom: 60px;
}

header, section, div {
  flex-direction: column;
}

article {
  flex-direction: row;
  margin-bottom: 20px;
}

header {
  align-items: center;
  height: 255px;
  justify-content: center;
}

svg {
  align-self: center;
  margin-right: 20px;
}

section {
  margin-top: 46px;
  margin-bottom: 20px;
}

section.no-offset-top {
  margin-top: 0;
}

section.offset {
  margin-left: 8%;
  margin-right: 8%;
}

section.offset-top {
  margin-top: 70px;
}

section.offset-bottom {
  margin-bottom: 200px;
}

section.padding-offset {
  margin-top: 0;
  padding-top: 60px;
}

section.img p {
  color: #fff;
}

section.stripes {
  position: relative;
}

section.stripes::before, section.stripes::after {
  position: absolute;
  top: 10px;
  left: 50px;
  content: '';
  width: 150px;
  height: 30px;
  background: #957d7f;
  transform: rotate(-45deg);
}

section.stripes::after {
  top: auto;
  left: auto;
  bottom: 10px;
  right: 50px;
  transform: rotate(-45deg);
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  color: #513e4e;
}

a {
  color: #604f5e;
  font-size: 2.3rem;
}

a:hover {
  color: #957d7f;
}

img {
  align-self: center;
}

nav {
  margin-bottom: 60px;
}

aside time {
  line-height: 1.2;
  padding-right: 15px;
}

.mobile {
  display: none;
}

.timer {
  margin-top: 60px;
}

.center {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.wide {
  width: 80%;
}

.row {
  flex-direction: row;
  margin-bottom: 28px;
}

.intro {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10px;
}

.container {
  align-items: center;
}

.inner {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}

.img {
  max-height: 514px;
  height: 50vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img h2 {
  color: #fff;
  font-size: 4rem;
}

.link {
  text-decoration: underline;
}

.secondary-text.link:hover {
  color: #9c9899;
}

.info {
  background: url("../images/info.jpg") center/cover no-repeat;
}

.contact {
  background: url("../images/kontakt.jpg") center/cover no-repeat;
}

.contact a {
  color: #fff;
}

.secondary-text {
  color: #957d7f;
}

.article-content {
  margin-left: 70px;
}

.large {
  font-size: 5.4rem;
}

.sticky {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  width: 100%;
  max-width: 1024px;
  background: white;
  height: 50px;
  border-bottom: 1px solid #979797;
}

.padding-top {
  padding-top: 85px;
}

#map {
  max-width: 860px;
  width: 84vw;
  height: 500px;
  border: 1px solid #fff;
}

#map div {
  display: block;
}

h1 {
  font-size: 6rem;
  color: #513e4e;
}

h2 {
  margin-bottom: 8px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #303030
}

h3 {
  margin-bottom: 54px;
  font-size: 3.6rem;
  font-weight: bold;
  color: #513e4e;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #303030;
  margin-bottom: 22px;
}

p {
  margin: 2px 0 6px 0;
  font-weight: normal;
  font-size: 2rem;
}

a {
  text-decoration: none
}

p a {
  font-size: 2rem;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }

  .mobile {
    display: flex;
  }

  .non-mobile {
    display: none;
  }

  .wide {
    width: 100%;
  }

  section.stripes::before, section.stripes::after {
    display: none;
  }

  h1 {
    font-size: 4.8rem;
  }

  h3 {
    display: flex;
    flex-direction: column;
  }

  h3 .secondary-text {
    font-size: 3rem;
  }

  header {
    height: 135px;
  }

  section {
    margin-top: 26px;
  }

  section.offset {
    margin-left: 0;
    margin-right: 0;
  }

  .row {
    margin-bottom: 0;
  }

  .inner {
    width: 94%;
    margin: 0 auto
  }

  .article-content {
    margin-left: 0;
  }

  #map {
    width: auto;
    height: 400px;
  }

  .large {
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 413px) {
  section.contact h2 {
    font-size: 3rem;
  }
}