@import url("https://fonts.googleapis.com/css?family=Chivo:900");

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div {
  display: flex;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0
}

time {
  font-size: 40px;
  color: #957d7f;
}

header time {
  color: #fff;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
}

hr {
  width: 141px;
  height: 0;
  border: none;
  border-top: solid 3px #979797;
  margin-top: 20px;
  margin-bottom: 60px;
}

header, section, div {
  flex-direction: column;
}

article {
  flex-direction: row;
  margin-bottom: 20px;
}

header {
  align-items: center;
  background: #957d7f;
  height: 255px;
  justify-content: center;
}

section {
  margin-bottom: 20px;
}

section.offset {
  margin: 46px 8% 0 8%;
}

section.offset-top {
  margin-top: 70px;
}

section.offset-bottom {
  margin-bottom: 200px;
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-spacing: 0;
  border-collapse: collapse
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #513e4e;
}

a {
  color: #604f5e;
  font-size: 23px;
}

a:hover {
  color: #957d7f;
}

img {
  align-self: center;
}

nav {
  margin-bottom: 60px;
}

aside time {
  line-height: 1.2;
}

.center {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.wide {
  width: 100%;
}

.row {
  flex-direction: row;
  margin-bottom: 28px;
}

.intro {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.container {
  align-items: center;
}

.inner {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}

.img {
  max-height: 514px;
  height: 50vw;
  justify-content: center;
  align-items: center;
}

.img h2 {
  color: #fff;
  text-shadow: 0 0 8px black;
  font-size: 40px;
}

.info {
  background: url("../images/info.jpg") center/cover no-repeat;
}

.contact {
  background: url("../images/kontakt.jpg") center/cover no-repeat;
}

.secondary-text {
  color: #957d7f;
}

.article-content {
  margin-left: 70px;
}

.large {
  font-size: 54px;
}

#map {
  max-width: 860px;
  width: 84vw;
  height: 500px;
  border: 1px solid #fff;
}

#map div {
  display: block;
}

h1 {
  font-size: 60px;
  color: #f5d0b0;
}

h2 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #303030
}

h3 {
  margin-bottom: 54px;
  font-size: 36px;
  font-weight: bold;
  color: #513e4e;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  color: #303030;
  margin-bottom: 22px;
}

h5 {
  font-size: 1em;
  color: #303030;
}

h6 {
  font-size: .8em;
  color: #303030
}

p {
  margin: 2px 0 6px 0;
  font-weight: 300;
  font-size: 20px;
}

a {
  text-decoration: none
}

p a {
  font-size: 20px;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9
}

ul li {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px
}

ol li {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 3px
}

@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px
  }

  .inner {
    width: 94%;
    margin: 0 auto
  }
}